src/main/mule/pipeline-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="ba4ef584-a963-462f-b6f1-cac0d2c27b9e" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="5fcb6e7e-b7a7-428a-ba3a-2569a2753f84" >
		<http:request-connection protocol="HTTPS" host="api.weatherapi.com" />
	</http:request-config>
	<flow name="pipeline-demoFlow" doc:id="b1e753fe-ac8c-4bce-bfce-26f96ee03f7a" >
		<http:listener doc:name="Listener" doc:id="0390d1a0-caa6-4cfe-9716-4717b3a9f47f" config-ref="HTTP_Listener_config" path="/weather-api"/>
		<http:request method="GET" doc:name="Request" doc:id="bd695a9c-3f8b-41a6-b734-d92832d058cc" config-ref="HTTP_Request_configuration" path="/v1/current.json">
			<http:query-params ><![CDATA[#[{
	q : attributes.queryParams.q,
	lan : attributes.queryParams.lan,
	key : attributes.queryParams.key
}]]]></http:query-params>
		</http:request>
	</flow>
</mule>
